body {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 100vh;
  min-width: 100vw;
  font-family: Trebuchet MS,sans-serif;
  overflow: hidden;
}
div {
  text-align: center;
}
